<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>게시물 등록</h2>
<hr />
<form action="/board/insert" method="post" enctype="multipart/form-data">
	<input type="hidden" name="no" th:value="${no}"/>
	제목: <input type="text" name="title" /><br />
	작성자: <input type="text" name="id" /><br />
	비밀번호: <input type="password" name="pwd" /><br />
	내용: <br>
	<textarea name="content" rows="10" cols="60"></textarea><br />
	첨부파일: <input type="file" name="uploadFile" /><br />
	<input type="submit" value="게시물 등록"/>
	<input type="reset" value="다시 쓰기"/>
</form>
</body>
</html>