<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:text="${session.loginUSER.id}+'('+${session.loginUSER.name}+')'+'님, 로그인하였습니다'"></div>
	<th:block th:if="${session.loginUSER.role=='admin'}")>
		<a href="/admin/index">관리자메뉴</a>
	</th:block>
	<a th:href="@{'/board/list/1/'+${session.loginUSER.id}}">내 글 보기</a>
	<a th:href="@{/board/list/1/null}">전체글 보기</a>
	<a href="/logout">로그아웃</a>
	<h2>게시물 목록</h2>
	<hr />
	<table border="1" width="80%">
		<tr>
			<th>글번호</th>
			<th>글제목</th>
			<th>작성자</th>
			<th>등록일</th>
		</tr>
		<tr th:each="b:${list}">
			<td th:text="${b.no}"></td>
			<td >
				<span th:if="${b.b_level>0}">
					<span th:each="i:${#numbers.sequence(1,b.b_level)}">&nbsp;&nbsp;</span>
					-->
				</span>
				<a th:href="@{'/board/detail/'+${b.no}}"  th:text="${b.title}"></a>
			</td>
			<td >
				<a th:href="@{'/board/list/1/'+${b.member.id}}"  th:text="${b.member.id}"></a>
			</td>
			<td th:text="${b.regdate}"></td>
		</tr>
	</table>
	<th:block th:each="i:${#numbers.sequence(1,totalPage)}">
			<a th:href="@{'/board/list/'+${i}+'/'+${id}}" th:text="${i}">&nbsp;</a>
	</th:block>
	<br>
	<a href="/board/insert">게시물 등록</a>
</body>
</html>