<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emp">
  <select id="listEno" resultType="java.lang.Integer">
    	select distinct eno from emp where email is not null
  </select>
  <select id="findByEno" resultType="empVO">
    	select eno, ename, salary, comm, email from emp where eno=#{eno}
  </select>

</mapper>